<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Discord Rich Presence</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="inputs-wrapper">
			<input class="input-option" id="pid"><br>
			<input class="input-option" id="state">
			<input class="input-option" id="details"><br>
			<input class="input-option" id="start">
			<input class="input-option" id="end"><br>
			<input class="input-option" id="large_image">
			<input class="input-option" id="large_text"><br>
			<input class="input-option" id="small_image">
			<input class="input-option" id="small_text"><br>
			<input class="input-option" id="party_id">
			<input class="input-option" id="party_min">
			<input class="input-option" id="party_max"><br>
			<input class="input-option" id="join">
			<input class="input-option" id="spectate">
			<input class="input-option" id="match"><br>
			<input class="input-option" id="button-label-1">
			<input class="input-option" id="button-url-1"><br>
			<input class="input-option" id="button-label-2">
			<input class="input-option" id="button-url-2"><br>
			<input class="input-option" id="instance"><br>
			<button type="button" id="submit-options">Update</button>
		</div>
		<script src='/static/scripts/index.js'></script>
	</body>
</html>